
.data-field{
  font-weight: bold;
  border-bottom: 1px solid #dadada;
  padding: 10px;
  padding-left: 0;
}

.data-field > span{
  font-weight: normal;;
}

.bank-box{
  display: inline-block;
}

.error{
  font-style: italic;
  color: red;
  margin: 5px;
}
